html {
  font-family: Georgia, serif;
}

.content {
  background-color: #495562;
  color: #fff;
}

.btn {
  border: 3px solid #97a49b;
  color: #fff;
}

.btn:hover {
  border: 3px solid #efefef;
  background-color: #efefef;
  color: #495562;
}

@media only screen and (min-width: 60em) {

  .banner-image {
    background-image: linear-gradient(rgba(73, 85, 98, .9), rgba(73, 85, 98, .9)), url("../images/earth-horizon.jpg");
    position: absolute;
  }

  .content {
    position: relative;
    top: 600px;
    background: rgba(73, 85, 98, .1);
  }

  .btn {
    border: 3px solid #fff;
  }

}
